Fix ACA-issued certificates not verifying in OpenSSL

It appears that when verifying ACA-issued LDevID or AK certificates against the ACA CA certificate chain, OpenSSL encounters various issues. Upon further examination, it appears that there are some problems that need to be corrected:
- The AKID is not set up properly for the signed certs, as they are pointing to the EK. This needs to be changed to point to the ACA CA chain.
- The AKI is marked as critical; this should be changed to non-critical to be in conformance with RFC 5280 section 4.2.1.1.
- There are some missing extensions in the generated certificate, including the signing extension (`keyEncipherment | digitalSignature`) and basic constraints.

Finally, it appears the issued certs are signed with the ACA portal/TLS key. The issue there is that the key does not have CA signing capabilities, causing verification to fail. To resolve this, the leaf CA3 signing key should be used instead.